 *{

 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
 	background-color: #A1ACE2;

}

h1{
	color: purple;
	font-style: oblique;
	font-family: fantasy;

}
h2{
	color: rgba(50, 60, 50, 260);
	font-style: oblique;
	font-family: fantasy;
}
h3{

	color: red;
	font-style: oblique;
	font-family: fantasy;

}
h4{

	color: orange;
	font-style: oblique;
	font-family: fantasy;


}
